:host {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

canvas:last-child {
  background-color: black;
}

canvas:first-child {
  opacity: 0;
}
