<!-- <div class="row">
  <app-fireball></app-fireball>
  <app-gradient-back></app-gradient-back>
  <app-functions></app-functions>
</div>
<div class="row">
  <app-vector-cross></app-vector-cross>
  <app-snow-shader></app-snow-shader>
  <app-rotate-simple></app-rotate-simple>
</div> -->
<!-- <div class="row">
  <app-earth></app-earth>
  <app-vector-add-sub></app-vector-add-sub>
  <app-vector-dot></app-vector-dot>
</div> -->
<!-- <div class="row">
  <app-energy-point></app-energy-point>
  <app-group></app-group>
  <app-pointcloud-stars></app-pointcloud-stars>
</div> -->
<!-- <div class="row">
  <app-magic-ball></app-magic-ball>
  <app-framerate></app-framerate>
  <app-canvas-orbit-trails></app-canvas-orbit-trails>
</div>
<div class="row">
  <app-canvas-sparkle-trail></app-canvas-sparkle-trail>
  <app-canvas-visualization></app-canvas-visualization>
  <app-canvas-sparkle-loader></app-canvas-sparkle-loader>
</div>
<div class="row">
  <app-canvas-waterfall></app-canvas-waterfall>
  <app-canvas-fireworks></app-canvas-fireworks>
  <app-canvas-lineeffect></app-canvas-lineeffect>
</div>
<div class="row">
  <app-canvas-crazy-fireworks></app-canvas-crazy-fireworks>
  <app-canvas-starry-sky></app-canvas-starry-sky>
  <app-canvas-confetti-cannon></app-canvas-confetti-cannon>
</div>
<div class="row">
  <app-canvas-circle-loader></app-canvas-circle-loader>
  <app-canvas-bubble></app-canvas-bubble>
  <app-canvas-bokeh-generation></app-canvas-bokeh-generation>
</div>
<div class="row">
  <app-canvas-azure-loading></app-canvas-azure-loading>
  <app-canvas-matrix-text></app-canvas-matrix-text>
  <app-canvas-neon-bubbles></app-canvas-neon-bubbles>
</div>
<div class="row">
  <app-three-gsap-timescale></app-three-gsap-timescale>
  <app-three-rotate-shapes></app-three-rotate-shapes>
  <app-three-gsap-flipy></app-three-gsap-flipy>
</div>
<div class="row">
  <app-three-kaleidoscope></app-three-kaleidoscope>
  <app-three-scaling-ball></app-three-scaling-ball>
  <app-three-procedural-tunnel></app-three-procedural-tunnel>
</div>
<div class="row">
  <app-three-myworld></app-three-myworld>
  <app-three-earth></app-three-earth>
  <app-three-liquid></app-three-liquid>
</div>
<div class="row">
  <app-three-trailing-particle></app-three-trailing-particle>
  <app-canvas-particle-trail></app-canvas-particle-trail>
  <app-three-tiny-polyworld></app-three-tiny-polyworld>
</div> -->

<div class="row">
  <app-three-flower></app-three-flower>
  <app-three-buffergeometry></app-three-buffergeometry>
  <app-three-primordial-soup></app-three-primordial-soup>
</div>

<div class="row">
  <app-three-super-marry></app-three-super-marry>
  <app-three-voronoi-zoom></app-three-voronoi-zoom>
  <app-three-area-light></app-three-area-light>
</div>

<div class="row">
  <app-three-spinner></app-three-spinner>
  <app-three-explode-text></app-three-explode-text>
  <app-three-fire></app-three-fire>
</div>

<div class="row">
  <app-three-sprite-sphere></app-three-sprite-sphere>
  <app-three-airplane></app-three-airplane>
  <app-three-airplane-colored></app-three-airplane-colored>
</div>